/*  Use ONLY the "slash star ... star slash" style comment inside a style sheet */

/* Don't want tiny white border inside browser window - apply to html and body. */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; /* no tail font is more readable for small font */
}

#titleNav {
  /* titleNav is fixed, always at the top */
  /* position fixed removes the element from the normal flow, placing it where you specify with top/bottom, left/right */
  position: fixed;
  top: 0rem;
  left: 0rem;
  z-index: 1; /* To make sure titleNav is on top of content, give it a higher z-index than content 
                    (content would have default value of zero). */
  width: 100%;
  padding-bottom: 1rem;
  font-weight: bold;
  box-shadow: 0.1rem 0.1rem 0.5rem black; /* give a little "3D"  effect to the bottom of the title area */
}

#pageTitle {
  /* no change */
  padding: 1rem;
  padding-bottom: 0rem;
  font-size: 2rem;
  font-style: italic;
  font-family: serif;
  float: left;
  white-space: nowrap;
}

#nav {
  /* fix the nav bar */
  float: right;
  font-size: 0.75rem;
  padding-top: 1.5rem;
  padding-right: 0.25rem;
  white-space: nowrap;
}

#nav a {
  /* no change */
  text-decoration: none; /* Do not want links in "nav" to be underlined */
}

#content {
  /* Added padding top and bottom to prevent top/bottom content from getting hidden under titleNav/footer */
  padding: 1rem;
  padding-top: 5rem; /* prevent the top of the content from getting hidden under the fixed titleNav */
  padding-bottom: 4rem; /* prevent the the bottom of the content from getting hidden under the fixed footer */
}

#footer {
  /* footer fixed, always at the bottom */

  position: fixed;
  bottom: 0rem;
  left: 0rem;
  z-index: 1; /* make sure footer is on top of content which would have default z-index value of 0 */

  width: 100%;
  text-align: center;
  padding: 0.5rem;
  box-shadow: 0rem 0rem 5rem black; /* give a little "3D"  effect to the top of the footer area */
}
