.home h3 {
  color: white;
}

.home a {
  color: gold;
  text-decoration: none;
}

.home li {
  color: white;
}

.home .header {
  height: 350px;
}

.home .header2 {
  height: 700px;
}

.home .header3 {
  height: 1000px;
}
